@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* variable */
:root{
    --primary:#E2C47B;
    --secondary:#FFFFFF;
    --ternary:#322F2B;
}

body{
    background: linear-gradient(to right, var(--primary), var(--ternary));
    background-attachment: fixed;
}
.home-layout{
    background-image: url("/images/main-img.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
}

.third-content {
    background-image: url("/images/tenun.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.fourth-content {
    background-image: url("/images/barong.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}